.container {
  min-height: 100vh;
  padding: 0 2rem;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  line-height: 1.7;
  font-size: 1.7rem;
  font-family: "Work Sans", sans-serif;
  color: #333;
  position: relative;
  z-index: 10;
}

.description a {
  font-weight: 600;
  background-size: 200%;
  background-position: 0;
  transition: all 0.8s;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 50%,
    #f4f4f4 0
  );
}

.description a:hover {
  background-position: -100%;
  color: #333;
}

a.helloFresh {
  color: #6fcf97;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 50%,
    #cee8d9 0
  );
}

a.unico {
  color: #e91e63;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 50%,
    #f9d1df 0
  );
}

.detail1 {
  width: 1px;
  background: #f9d1df;
  height: 500%;
  position: fixed;
  right: 20%;
  transform: rotate(45deg);
}

.detail2 {
  width: 1px;
  background: #cee8d9;
  height: 500%;
  position: fixed;
  left: 20%;
  transform: rotate(25deg);
}

.detail3 {
  width: 1px;
  background: #e6e6e6;
  height: 500%;
  position: fixed;
  right: -40%;
  transform: rotate(-75deg);
}

@media (max-width: 1400px) {
  .container {
    margin: 0;
  }
}

@media (max-width: 1440px) {
  .detail1,
  .detail2,
  .detail3 {
    filter: blur(2px);
  }
}
